# salon-api
salon-api/HELP.md
salon-api/.gradle
salon-api/build/
!salon-api/gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# salon-ui
#/salon-ui/node_modules
#/salon-ui//build

